<div class="item-actions">
  <button mat-button color="primary" [disabled]="!isAdmin" (click)="onAddClick()"><mat-icon>add_location</mat-icon>Add Location</button>
</div>
<div class="item-container">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
      <td mat-cell *matCellDef="let element">
        {{element.description}}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="actionButton">
      <th mat-header-cell *matHeaderCellDef mat-sort-header width="5%"> Action</th>
      <td mat-cell *matCellDef="let element">
        <button class="action-hover" [disabled]="!isAdmin" mat-button (click)="onEditClick(element)"><mat-icon>edit</mat-icon></button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky:true;"></tr>
  </table>
</div>

<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
></mat-paginator>
