<mat-card align="start">
  <mat-card-title>Course</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Description" formControlName="description" required></textarea>
        <mat-error align="end" *ngIf="formGroup.get('description').hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-error align="end" *ngIf="formGroup.hasError('duplicateLocation')">
        Location is <strong>duplicated</strong>
      </mat-error>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid" *ngIf="!location || !location.id" (click)="save()">Add</button>
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid"  *ngIf="location && location.id" (click)="update()">Update</button>
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid" *ngIf="location && location.id" (click)="delete()">Delete</button>
  </mat-card-actions>
</mat-card>

