<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <button [disabled]="isInActiveRole" color="primary" mat-button routerLink="/fire/users" (click)="drawer.toggle()">Users</button>
    <button [disabled]="isInActiveRole" color="primary" mat-button routerLink="/fire/courses" (click)="drawer.toggle()">Courses</button>
    <button [disabled]="isInActiveRole" color="primary" mat-button routerLink="/fire/courseoffering" (click)="drawer.toggle()">Course Offering
    </button>
    <button [disabled]="isInActiveRole" color="primary" mat-button routerLink="/fire/location" (click)="drawer.toggle()"> Location</button>
    <button [disabled]="isInActiveRole" color="primary" mat-button routerLink="/fire/timeslot" (click)="drawer.toggle()"> Time Slot</button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Bar-code Reader</span>
        <span class="spacer"></span>
        <mat-icon>favorite</mat-icon>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>directions_walk</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
