<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <button color="primary" mat-button routerLink="/home/users">Users</button>
    <button color="primary" mat-button routerLink="/home/courses">Courses</button>
    <button color="primary" mat-button routerLink="/home/courseoffering">Course Offering</button>
    <button color="primary" mat-button routerLink="/home/location"> Location</button>
    <button color="primary" mat-button routerLink="/home/timeslot"> Time Slot</button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Bar-code Reader</span>
        <span class="spacer"></span>
        <mat-icon>favorite</mat-icon>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>directions_walk</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
