<mat-card class="example-card" style="background: black">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Fire Team</mat-card-title>
    <mat-card-subtitle><span style="font-size: 15px; color: chartreuse" >Professor: </span> Payman Salek</mat-card-subtitle>
    <mat-card-subtitle><span style="font-size: 15px; color: chartreuse">Team: </span><mat-icon>favorite</mat-icon> Hoang Thao Nguyen <mat-icon>favorite</mat-icon> Tang Binh Lam <mat-icon>favorite</mat-icon> Ny Aina Michael Andriantsoa <mat-icon>favorite</mat-icon>  Yusuf Taha <mat-icon>favorite</mat-icon>  Nwogbo Bernard <mat-icon>favorite</mat-icon>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image sizes="100px" src="./../../../../assets/fire-team.jpg" style="margin-left: 50px" alt="Fire Team Image">
  <mat-card-content>
  </mat-card-content>
</mat-card>
